body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1485px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1485px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:734px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:839px;
  width:345px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1075px;
  width:345px;
  height:108px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1187px;
  width:345px;
  height:108px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1304px;
  width:345px;
  height:108px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:17px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1429px;
  width:375px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
