body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:717px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:717px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:661px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u301 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:661px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u302 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:661px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u303 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:661px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u304 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:661px;
  width:75px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u305 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:596px;
  width:249px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u306 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:174px;
  width:100px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u307 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:174px;
  width:100px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u308 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:174px;
  width:100px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u309 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:262px;
  width:344px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u310 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:315px;
  width:344px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u311 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:367px;
  width:344px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u312 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:475px;
  width:344px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u313 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:527px;
  width:344px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u314 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:423px;
  width:344px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
