body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1180px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1180px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:582px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:809px;
  width:345px;
  height:108px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:923px;
  width:345px;
  height:108px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u90 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1037px;
  width:345px;
  height:108px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:17px;
  width:47px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
